<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>this</title>
        <link rel="stylesheet" href="/static/aboutes.css">
    </head>
    <body>
    <div id="content">
  <h1>Natural Fruits Shop</h1>

  <ul class="timeline">
    <li class="event" data-date="5 Sep,2011">
      <h3>Origin(started on 5th Sep,2011)</h3>
      <p>Managed and Controlled by IIITM.</p>
    </li>
    <li class="event" data-date="2012">
      <h3>Motto(Quality is our priority)</h3>
      <p>We serve one of the best quality of fruits and juices.<br> We aim for customer satisfaction.</p>    
    </li>
    <li class="event" data-date="2013">
      <h3>Expansion</h3>
      <p></p> <p>In 2013, we decided to expand our sale.<br>So we started serving shakes and cakes also.<br>Keeping up the same taste and quality.</p>    
    </li>
    <li class="event" data-date="November 15, 2013">
      <h3>Branches Today</h3>
      <p>We have more than 5 branches in all over gwalior and our aiming to spread it all over the country.<p/>
<p>Our oldest branch is in Phoolbagh with 23 workers working there.</p>
      <p><strong>Our success can be measured by lives and brands enhanced by 6+ years of 100% Natural Fruit Shop service!</strong></p>
      </li>
      <li class="event" data-date="2014">
      <h3>Delivery Service</h3>
      <p></p> <p>In 2014, on customer demand we started home delivery service.</p>    
    </li>
  </ul>

</div>

    
</body>  

</html>    