<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Fruit</title>
                 <link rel="stylesheet" href="/static/fruit.css">
        <link rel="stylesheet" href="/static/free.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpeg" href="/static/sign.jpeg"
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        
    </head>
    <body>
      <input type='checkbox' id='mmeennuu'>
<label class='menu' for='mmeennuu'>

<div class='barry'>
	<span class='bar'></span>
	<span class='bar'></span>
	<span class='bar'></span>
	<span class='bar'></span>
    <span class='bar'></span>
    <span class='bar'></span>
    <span class='bar'></span>
</div>
	
<ul>
	<li><a id='home' href='{% url 'branch' %}'>Branches</a></li>
	<li><a id='about' href="{% url 'about' %}">About</a></li>
	<li><a id='contact' href="{% url 'cont' %}">Contact</a></li>
	<li><a id='link' href="{% url 'test2' %}">Menu</a></li>
    <li><a id='link' href="{% url 'reviews' %}">Reviews</a></li>
    <li><a id='link' href="{% url 'contact' %}">Login</a></li>
    <li><a id='link' href='#link'>Help</a></li>
</ul>

</label>
  <div class="cont">
      
	<div class="slider"></div>
	<ul class="nav"></div>
      
	<div data-target='right' class="side-nav side-nav--right">
        
      </div>
	<div data-target='left' class="side-nav side-nav--left">
      </div>
      
        </div>
        
        
      <script src="/static/free.js"></script>
        <script src="/static/fruit.js">
        </script>
    </body>