<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>backend</title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/intro.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gsap/1.19.1/TweenMax.min.js"></script>
    </head>
    <body>
           
        <input type="text" class="comment input-lg btn btn-outline-success" size="80" placeholder="Add your reviews here">
        <button type="button" class="btn btn-primary pune">Add comment</button>
        <h5 style="color: whitesmoke; margin-left: 60px; margin-top: 60px" class="goa">5 comments for now</h5>
            <div class="slider-wrap">
  <div id="card-slider" class="slider">
    <div class="slider-item">
        <div class="animation-card_image">
            <img src="/static/rana.jpeg.jpg" alt="">
        </div>
        <div class="animation-card_content">
            <h4 class="animation-card_content_title title-2">Pankaj Rana</h4>
            <p class="animation-card_content_description p-2">This is one of the best online fruit shop which i  have encountered in my life.Quality is amazing and usually i get sick quite easily so i prefer buying fruits from this shop.</p>
            <p class="animation-card_content_city">Gast Ka Tazia, Gwalior</p>
        </div>
    </div>
    <div class="slider-item">
        <div class="animation-card_image">
            <img src="/static/vikram.jpeg.jpg" alt="">
        </div>
        <div class="animation-card_content">
            <h4 class="animation-card_content_title title-2">Vikram Singh</h4>
            <p class="animation-card_content_description p-2">Since childhood i was very weak both mentally and physically. So there were many challenges in my life. But one day i ordered orange juice from this shop and then things became so easier.</p>
            <p class="animation-card_content_city">Satna, MP</p>
        </div>
    </div>
    <div class="slider-item">
        <div class="animation-card_image">
            <img src="/static/akash.jpeg.jpg" alt="">
        </div>
        <div class="animation-card_content">
            <h4 class="animation-card_content_title title-2">Aakash bhardwaj</h4>
            <p class="animation-card_content_description p-2">I always complained about my health. I tried all supplements but nothing worked. Then one day i ordered banana shake from this shop and it was so tasty and refreshing in such a cheap price.</p>
            <p class="animation-card_content_city">ABV-IIITM, Gwalior</p>
        </div>
    </div>
    <div class="slider-item">
        <div class="animation-card_image">
            <img src="/static/smk.jpeg.jpg" alt="">
        </div>
        <div class="animation-card_content">
            <h4 class="animation-card_content_title title-2">Samyak Jain</h4>
            <p class="animation-card_content_description p-2">Although from childhood i was very healthy but i liked eating fresh fruits. So one day i ordered grapes from this shop. You won't believe that those grapes were totally pesticide free and in such a reasonable price.</p>
            <p class="animation-card_content_city">Lucknow, UP</p>
        </div>
    </div>
    <div class="slider-item">
        <div class="animation-card_image">
            <img src="/static/sudheer.jpeg" alt="">
        </div>
        <div class="animation-card_content">
            <h4 class="animation-card_content_title title-2">Sudheer Modanwal</h4>
            <p class="animation-card_content_description p-2">I am hacker by profession but in order to keep my energy at pace, I prefer eating fruits. They are key component of my diet and i always order it from this shop.</p>
            <p class="animation-card_content_city">Jaunpur, UP</p>
        </div>
    </div>
      
</div>
</div>  
        <script src="/static/intro.js"></script>
    </body>
</html>